* {
  margin: 0;
  padding: 0;
}

/* 去除 li 的圆点 */
ol,
ul,
li {
  list-style: none;
}

/* 去除 a 标签的下划线 */
a {
  text-decoration: none;
}

/*
  让 img 在一行内垂直居中，消除图片下面的白边：
    因为 vertical-align 的默认值是 baseline，这会导致 img 的下边框与父级元素的下边框有一定的间距。
    将 vertical-align 设置为 middle，可以让 img 在一行内垂直居中，消除图片下面的白边。
*/
img {
  vertical-align: middle; /* vertical-align 只对行内元素或行内块元素有效 */
}

body {
  font-family: '微软雅黑', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #f5f5f5;
}

/* 清除浮动 */
/* 为了让旧版浏览器能执行，所以只写一个: */
.clearfix:after {
  content: "."; /* 防止旧版本浏览器有空隙，所以添加内容为小点 */
  display: block; /* 转换为块级元素 */
  height: 0; /* 盒子高度为0 */
  visibility: hidden; /* 隐藏盒子 */
  clear: both; /* 清除浮动 */
}
/*
  *是ie7和ie7能识别的特殊符号
  只有ie6和ie7才能执行带*的属性
  zoom是ie6和ie7清除浮动的方法
*/
.clearfix {
  /* ie6和ie7清除浮动的方法 */
  *zoom: 1;
}